# LEVEL 2 TASK 1 - Table Booking and Online Delivery

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\SRUJANA SREE THUMMA\Downloads\Dataset.csv")

In [3]:
#Determine the percentage of restaurants that offer table booking and online delivery.

In [4]:
df['Has Table booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Has Online delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

In [5]:
total = len(df)

In [6]:
print(len(df))

9551

In [7]:
table_booking = df['Has Table booking'].sum()

In [8]:
print(table_booking)

1158

In [9]:
online_delivery = df['Has Online delivery'].sum()

In [10]:
print(online_delivery)

2451

In [11]:
table_per = (table_booking / total) * 100
online_per = (online_delivery / total) * 100

In [12]:
print(table_per)
print(online_per)

12.124384881164275
25.662234321013504

In [13]:
#Compare the average ratings of restaurants with table booking and those without.

In [14]:
rating = {'Bad': 1, 'Average': 2, 'Good': 3, 'Very Good': 4, 'Excellent': 5}
df['Rating text'] = df['Rating text'].map(rating)

In [15]:
with_table_booking = df[df['Has Table booking'] == 1]
without_table_booking = df[df['Has Table booking'] == 0]

In [16]:
avg_rating_with = with_table_booking['Rating text'].mean()
avg_rating_without = without_table_booking['Rating text'].mean()

In [17]:
print(avg_rating_with)
print(avg_rating_without)

2.9429622815087395
2.674714518760196

In [18]:
#Analyze the availability of online delivery among restaurants with different price ranges.

In [19]:
data = df.groupby('Price range')

In [20]:
avail = data['Has Online delivery'].value_counts(normalize=True).unstack() * 100

In [21]:
print(avail)

Has Online delivery          0          1
Price range
1                    84.225923  15.774077
2                    58.689367  41.310633
3                    70.809659  29.190341
4                    90.955631   9.044369

In [22]:
availability = data['Has Online delivery'].value_counts(normalize=False).unstack() * 100

In [23]:
print(availability)

Has Online delivery       0       1
Price range
1                    374300   70100
2                    182700  128600
3                     99700   41100
4                     53300    5300

# LEVEL 2 TASK 2 - Price Range Analysis

In [24]:
#Determine the most common price range among all the restaurants.

In [25]:
data1 = df.groupby('Price range')
price_range = data1['Rating text'].mean()
print(price_range)

Price range
1    2.369873
2    2.631841
3    3.262380
4    3.423550
Name: Rating text, dtype: float64

In [26]:
#Identify the color that represents the highest average rating among different price ranges.

In [30]:
data2 = df.groupby('Price range')
rating_by_price_range = data2['Rating text'].mean()
highest = rating_by_price_range.max()
corresponding_color = df.loc[df['Rating text'].idxmax(), 'Rating color']
print(f"Highest average rating is {highest}")
print(f"with color {corresponding_color}")

Highest average rating is 3.4235500878734624
with color Dark Green

In [31]:
#Calculate the average rating for each price range.

In [32]:
cal = df.groupby('Price range')
avg = cal['Rating text'].mean()
print(avg)

Price range
1    2.369873
2    2.631841
3    3.262380
4    3.423550
Name: Rating text, dtype: float64

# LEVEL 2 TASK 3 - Feature Engineering

In [33]:
#Extract additional features from the existing columns, such as the length of the restaurant name or address.

In [34]:
df['length'] = df['Restaurant Name'].apply(len)
df['addr_length'] = df['Address'].apply(len)

In [35]:
print(df['length'])
print(df['addr_length'])

0       16
1       16
2       22
3        4
4       11
        ..
9546    11
9547    12
9548     5
9549    11
9550    24
Name: length, Length: 9551, dtype: int64
0        71
1        67
2        56
3        70
4        64
       ...
9546    103
9547     77
9548     73
9549     75
9550     65
Name: addr_length, Length: 9551, dtype: int64

In [36]:
#Create new features like "Has Table Booking" or "Has Online Delivery" by encoding categorical variables.

In [37]:
df['Has Table booking'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Has Online delivery'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})
print(df.head())

   Restaurant ID         Restaurant Name  Country Code              City  \
0        6317637        Le Petit Souffle           162       Makati City
1        6304287        Izakaya Kikufuji           162       Makati City
2        6300002  Heat - Edsa Shangri-La           162  Mandaluyong City
3        6318506                    Ooma           162  Mandaluyong City
4        6314302             Sambo Kojin           162  Mandaluyong City

                                             Address  \
0  Third Floor, Century City Mall, Kalayaan Avenu...
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...

                                     Locality  \
0   Century City Mall, Poblacion, Makati City
1  Little Tokyo, Legaspi Village, Makati City
2  Edsa Shangri-La, Ortigas, Mandaluyong City
3      SM Megamall, Ortigas, Mandaluyong City
4      SM Megamall, Ortigas, Mandaluyong City

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450

                           Cuisines  ...  Has Online delivery  \
0        French, Japanese, Desserts  ...                  NaN
1                          Japanese  ...                  NaN
2  Seafood, Asian, Filipino, Indian  ...                  NaN
3                   Japanese, Sushi  ...                  NaN
4                  Japanese, Korean  ...                  NaN

  Is delivering now  Switch to order menu  Price range Aggregate rating  \
0                No                    No            3              4.8
1                No                    No            3              4.5
2                No                    No            4              4.4
3                No                    No            4              4.9
4                No                    No            4              4.8

  Rating color  Rating text  Votes length  addr_length
0   Dark Green          5.0    314     16           71
1   Dark Green          5.0    591     16           67
2        Green          4.0    270     22           56
3   Dark Green          5.0    365      4           70
4   Dark Green          5.0    229     11           64

[5 rows x 23 columns]